    <div data-role="content" role="main">
    
      <div class="ui-grid-c ui-responsive">
        <div class="ui-block-a"><a href="#" data-role="button" data-theme="a" class="ui-disabled"><?echo $table?></a></div>
        <div class="ui-block-b"><a href="create.php" data-role="button" data-theme="a">Criar</a></div>
        <div class="ui-block-c"><a href="read.php" data-role="button" data-theme="b" class="ui-disabled">Ler</a></div>
        <div class="ui-block-d"><a href="update.php" data-role="button" data-theme="a">Editar</a></div>
      </div></br>
      
      <? 
        if(!empty($info))
        {

    $update = '<form name=update action="update.php?id='.$info['id_'].'" method="post" accept-charset="utf-8">
<ul data-role="listview" data-inset="true">
        <li class="ui-body ui-body-b">
            <fieldset class="ui-grid-a ui-responsive">';
        
    $update .= '<div class="ui-block-a"><p><label for="nme"><strong>Nome do Produto</strong></label>'
            .update_form_input('nme', $info['nme'], 'true', 'text', $reg_errors).
            '</p></div>';
            
    $update .= '<div class="ui-block-b"><p><label for="nme"><strong>Preço</strong></label>'
            .update_form_input('prc', $info['prc'], 'true', 'text', $reg_errors).
            '</p></div>';
            
    $update .= '<div class="ui-block-a"><p><label for="nme"><strong>Imagem</strong></label>'
            .update_form_input('img', $info['img'], 'true', 'text', $reg_errors).
            '</p></div>';
            
    $update .= '<div class="ui-block-b"><p><label for="nme"><strong>Estoque</strong></label>'
            .update_form_input('stq', $info['stq'], 'true', 'text', $reg_errors).
            '</p></div>';
            
    $update .= '<div class="ui-block-a"><p><label for="nme"><strong>Categoria</strong></label>'
            .update_form_input('ctg', $info['ctg'], 'true', 'text', $reg_errors).
            '</p></div>';
            
    $update .= '<div class="ui-block-b"><p><label for="nme"><strong>Descrição</strong></label>'
            .update_form_input('dsc', $info['dsc'], 'true', 'text', $reg_errors).
            '</p></div>
            
            </fieldset>
        </li>
            <a href="update.php?id='.$info['id_'].'" data-theme="a" data-role="button">Editar</a>
    </ul>
    
      </form>';

      
    echo $update;
        }
        else
        {?>
  	  <ul data-theme="c" data-role="listview" data-icon="false" data-inset="true" data-filter="true">
  	    <?php
         foreach($left_content as $row) 
         {
           $item = '><a style="text-decoration:none;" href="read.php?id='. $row['id_'] . '"><h2>'. $row['nme'] . '</h2></a></li>';

           if (isset($_GET['id']))
           {
             if ($_GET['id'] == $row['id_'])
             {
               $item = ' data-theme="a" data-role="list-divider"' . $item;
             }
           }

           $item = '<li' . $item;
           echo $item;
         }	
  	    ?>
     </ul>
        <?}
      ?>
    </div>
    
