    <div data-role="content" role="main">
    
      <div class="ui-grid-c ui-responsive">
        <div class="ui-block-a"><a href="#" data-role="button" data-theme="a" class="ui-disabled"><?echo $table?></a></div>
        <div class="ui-block-b"><a href="create.php" data-role="button" data-theme="a" class="ui-disabled">Criar</a></div>
        <div class="ui-block-c"><a href="read.php" data-role="button" data-theme="a">Ler</a></div>
        <div class="ui-block-d"><a href="update.php" data-role="button" data-theme="b" class="ui-disabled">Editar</a></div>
      </div></br>
 
<?
  if(!empty($info))
  {
    echo '<div data-role="popup" id="popupDialog" data-overlay-theme="a" data-theme="c" data-dismissible="false" style="max-width:400px;" class="ui-corner-all">
    <div data-role="header" data-theme="a" class="ui-corner-top">
        <h1>Remover?</h1>
    </div>
    <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
        <h3 class="ui-title">Você tem certeza de que vai remover?</h3>
        <p>Essa ação não poderá ser desfeita.</p>
      <form name="add" action="remove.php" method="post" data-ajax="false">        
        <a href="#" data-role="button" data-inline="true" data-rel="back" data-theme="c">Cancelar</a>
        <input name="id" type="hidden" value="'.$_GET['id'].'">
        <button type="submit" name="submit" value="submit" data-inline="true" data-theme="d">Remover</button>
      </form>
    </div>
    </div>';

    $update = '<form name=update action="update.php?id='.$info['id_'].'" method="post" accept-charset="utf-8" data-ajax="false">
<ul data-role="listview" data-inset="true">
        <li class="ui-body ui-body-b">
            <fieldset class="ui-grid-a ui-responsive">';

    $update .= '<div class="ui-block-a"><p><label for="id_trs"><strong>Id Transação</strong></label>'
            .update_form_input('id_trs', $info['id_trs'], 'true', 'text', $reg_errors).
            '<input name="id_trs" type="hidden" value="'.$info['id_trs'].'"></p></div>';        
                    
    $update .= '<div class="ui-block-b"><p><label for="email"><strong>Status</strong></label>'
            .update_form_input('status', $info['status'], 'false', 'select', $reg_errors).
            '</p></div>

            <div class="ui-block-a"><input data-theme="a" type="submit" value="Atualizar" /></div>          
            <div class="ui-block-b"><a href="#popupDialog" data-rel="popup" data-position-to="window" data-role="button" data-transition="pop" data-icon="delete" data-theme="d" class="ui-disabled">Remover</a></div>
            </fieldset>
        </li>
    </ul>
    
      </form>';
      
    echo $update;
  }
  else
  {?>
  	  <ul data-theme="c" data-role="listview" data-icon="false" data-inset="true" data-filter="true">
  	    <?php
         foreach($left_content as $row) 
         {
           $item = '><a style="text-decoration:none;" href="update.php?id='. $row['id_'] . '"><h2>'. $row['id_trs'] . '</h2></a></li>';

           if (isset($_GET['id']))
           {
             if ($_GET['id'] == $row['id_'])
             {
               $item = ' data-theme="a" data-role="list-divider"' . $item;
             }
           }

           $item = '<li' . $item;
           echo $item;
         }	
  	    ?>
     </ul>
  <?}

?>
    </div>
